#navbar li {
  padding: 25px 14px;
}
#navbar li:hover {
  background-color: #e62b36;
  color: white;
}
.dropdown {
  position: relative;
  display: block;
  cursor: pointer;
}
.dropdown li:hover {
  background-color: #e62b36;
  transition: background-color 0.22s ease, color 0.22s ease;
}
.dropdown-1 {
  position: absolute;
  display: none;
  width: 100%;
}
.dropdown:hover .dropdown-1 {
  display: block;
}
.dropdown-2 {
  position: absolute;
  display: none;
  width: 180px;
  left: 100%;
  top: 0;
}

.dropdown-3 {
  position: absolute;
  display: none;
  width: 180px;
  left: 100%;
  top: 70px;
}
.fall21:hover .dropdown-2 {
  display: block;
}
.spring21:hover .dropdown-3 {
  display: block;
}
