#navbar li {
  padding: 6px 14px;
}
#navbar li:hover {
  background-color: #dc2626;
  color: white;
}
.dropdown {
  position: relative;
  display: block;
  width: 180px;
  cursor: pointer;
}
.dropdown li:hover {
  background-color: #dc2626;
  transition: background-color 0.22s ease, color 0.22s ease;
}
.dropdown-1 {
  position: absolute;
  display: none;
  margin-top: 4px;
  margin-left: -14px;
  width: 100%;
}
.dropdown:hover .dropdown-1 {
  display: block;
}
.dropdown-2 {
  position: absolute;
  width: 240px;
  display: none;
  left: 100%;
  top: 0;
}
.dropdown-1:hover .dropdown-2 {
  display: block;
}
