.navbar {
  position: relative;
}
.dropdown:hover #dropdown-1 {
  position: absolute;
  display: block;
  width: 260px;
  border-radius: 2px;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
}
.nestedDropdown:hover .dropdown-2 {
  position: absolute;
  display: block;
  width: 220px;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 20px;
  cursor: pointer;
}
#dropdown-1,
.dropdown-2 {
  background-color: white;
  width: 200px;
  display: none;
}

li.different {
  border: none;
  position: relative;
}
li.different:hover {
  border: none;
}
li:hover {
  border-bottom: 5px solid #ffffff;
}

.different::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: -4px;
  background-color: #1b1c41;
  transition: all ease-in-out 0.1s;
}

.different:hover::after {
  width: 100%;
  left: 0;
}
